{{ define "main" }}
    <div class="home-container">
        <div class="profile">
            <img src="{{ "images/avatar.jpg" | relURL }}" alt="My Avatar" class="avatar">
            <h1 class="author-name">HhzjH</h1>
            <p class="author-bio">
                <a href="https://ise.sysu.edu.cn" target="_blank">School of Intelligent Systems Engineering</a> <a href="https://www.sysu.edu.cn" target="_blank">Sun Yat-sen University</a>
            </p>
            <div class="social-links">
                <span>zijianj770@gmail.com</span>
                <a href="https://github.com/HhzjH?tab=repositories" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
{{ end }}
